body{
    background-color: #151a21;
    margin: 0px;

}
a{
    text-decoration: none; 
}
p{
    color:white;
    padding: 0px;
    margin: 0px;
    pointer-events: none;
}
*{
    color: white;
   
    font-family:"Raleway",sans-serif ;
    font-size: 17px;
}

td{
    color: white;
}
tr{
    display: flex;
    flex-direction: row;
}


.main-content{
    display: flex;
    justify-content: center;
    align-items: center;
}
/* ----------------------profile block------------------------- */
.profile-card{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    border-bottom: 2px rgba(255, 255, 255, 0.186) solid;
    /* justify-content: center; */
   
    justify-content: space-around   ;
}
.title{
    transition: .2s;
    font-size: 65px;
    position: relative;
    left: 0px;
    letter-spacing: 4.5px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 700;
    text-wrap: nowrap;
    width: 600px;
    color: rgb(219, 237, 23);
    animation: fade-in 2s;
    margin: 0px;
}
.title::first-letter{
    font-family:   sans-serif;
    font-size: 70px;
}
#name:hover{
    transition: .2s;
}
.description{
    color: rgb(136, 136, 136);
    letter-spacing: .5px; 
     
}
#name-card{
    width: 300px;
}
.f-siez-20{
    font-size: 18px;
    line-height: 120%; 
}
.im{
    font-size: 30px;
}
span{
    margin: 5px;
    width: fit-content;
    position: relative;
    min-height: fit-content;
}
.profile-card>span:nth-child(3){
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    width: 20vw;
}

.button-17 {
    align-items: center;
    appearance: none;
    background-color: #ffffff00;
    border-radius: 24px;
    border-style: none;
    box-shadow: rgba(0, 0, 0, .2) 0 3px 5px -1px,rgba(0, 0, 0, .14) 0 6px 10px 0,rgba(0, 0, 0, .12) 0 1px 18px 0;
    box-sizing: border-box;
    color: #c9ec2c;
    cursor: pointer;
    display: inline-flex;
    fill: currentcolor;
    font-family: "Google Sans",Roboto,Arial,sans-serif;
    font-size: 14px;
    font-weight: 500;
    height: 48px;
    justify-content: center;
    letter-spacing: .25px;
    line-height: normal;
    max-width: 100%;
    overflow: visible;
    padding: 2px 24px;
    position: relative;
    text-align: center;
    text-transform: none;
    transition: box-shadow 280ms cubic-bezier(.4, 0, .2, 1),opacity 15ms linear 30ms,transform 270ms cubic-bezier(0, 0, .2, 1) 0ms;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    width: auto;
    will-change: transform, opacity;
    z-index: 0;
    margin-block:4px;
    transition: .3s;
    border:#c9ec2c solid 2px ;
    background-position-x: 0px 0px;
  }
  
  .button-17:hover {
    transition: .3s;
    background: #dde1e825;
    color: #c9ec2c;  
    margin-inline: 10%; 
    border-radius: 2px;
    background-size: 100%;
    box-shadow: 0 4px 4px 0 rgba(247, 247, 247, 0.796), 0 8px 12px 6px rgb(60 64 67 / 15%);

  }
  
  .button-17:active {
    outline: none;
  }
  
  .button-17:focus {
    outline: none;
    border: 2px solid #e1fd2d;
  }
  
  .button-17:not(:disabled) {
    box-shadow: rgba(60, 64, 67, .3) 0 1px 3px 0, rgba(60, 64, 67, .15) 0 4px 8px 3px;
  }
  
  .button-17:not(:disabled):hover {
    box-shadow: rgba(60, 64, 67, .3) 0 2px 3px 0, rgba(60, 64, 67, .15) 0 6px 10px 4px;
  }
  
  .button-17:not(:disabled):focus {
    box-shadow: rgba(60, 64, 67, .3) 0 1px 3px 0, rgba(60, 64, 67, .15) 0 4px 8px 3px;
  }
  
  .button-17:not(:disabled):active {
    box-shadow: rgba(60, 64, 67, .3) 0 4px 4px 0, rgba(60, 64, 67, .15) 0 8px 12px 6px;
  }
  
  .button-17:disabled {
    box-shadow: rgba(60, 64, 67, .3) 0 1px 3px 0, rgba(60, 64, 67, .15) 0 4px 8px 3px;
  }



#profilePic{
    -webkit-filter: brightness(2);
    -webkit-filter: contrast(.3);
    -webkit-filter: saturate(2);
    /* border-radius: 30px; */
    -webkit-user-drag: none;
    user-select: none;
    
}
.profile-span{
    margin: 0px;
}
@media (max-width: 1000px) 
{
    .profile-card>span:nth-child(3){
        width: 100%;
    }
    #mid-con{
        justify-content: center;
    }
    .profile-card>span:nth-child(3){
        text-align:right;
    }
    
}
@media (max-width: 680px) {
    #name-card{
        width:90vw;
    }
    .my-name{
        width: 100%;
        font-size: 60px;
        text-wrap: wrap;
        text-align: center;
    }
    .my-name ~ .description{ 
        text-align:center;
    }
    .profile-card>span:nth-child(3){
        display: flex;
        justify-self: center;
        align-items: center;
        flex-direction: column;
        width: 90%;
        text-align: center; 
    }
  }
/*--------------------- mid -con -------------*/
#mid-con{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    border: rgba(0, 57, 97, 0) 10px solid;
}

#states{
    padding-inline: 10vw;
    width: 350px;
    /* justify-content: center; */
    align-items: center;
    display: flex; 
}
#states>img{
    width: 90%
}

/*--------------- journey div --------------*/
#journeys{
    display:flex;
    flex-direction: column;
}

  .journey-card{
    transition: .5s;
    display: flex;
  }
  .journey-card>span{
    /* width:130px; */
  }
  
  .journey-card > span > p{
    font-size: 15px;
  }
  .journey-card>span>img{
    width: 20px;
    filter: invert(63%) sepia(94%) saturate(589%) hue-rotate(364deg) brightness(99%) contrast(98%);
  }
  .journey-line{
    background-color: red;
    height: 100% ;
    width: .1px;
  }

.moveTransition{
    animation: move 3s ;
}


@keyframes move {
    0%{
        transform: translateX(-100%);
        opacity: 0%;
    }
    50% {
        transform: translateX(10px);
    }
    50%{ 
        /* transform: translateX(100%); */
    }
    100%{
        transform: translateX(0px);
        opacity: 100%;
        /* transform:translateY(60px) */
    } 
}
@keyframes fade-in{
    from{
        opacity: 0%;
    }
    to{
        opacity: 100%;
    }
}
/* -------------states---------------------- */
#states{
    display: flex;
    flex-direction: column;
}
/* ------------footer ------------------- */
footer{
    transition: .5s;
    background-color: #00000025;
    height: 100px;
    width: 100%;
    border-top: 1.3px rgba(128, 128, 128, 0.375) solid;
}
.footer-img>a>img{
    filter: saturate(20%); 
}
.footer-img>a>img:hover{
    filter: saturate(100%);
    box-shadow: white solid 0px 0px 10px;
    transition: .5s;
}
/* ------------------- name styles----------------------------- */
.comingsoon-loading {
    font-family: 'Poppins', sans-serif;
    font-size: 40px; 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 30px;
    -webkit-filter: drop-shadow(2px 2px black);
  }
  
  .comingsoon-loading h1 {
    position: absolute;
    color: #01000000;
    font-size: 40px; 
  }
  
  .comingsoon-loading h1::before { 
    content: attr(data-text);
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    color: rgb(221, 247, 25);
    border-right: 2px solid rgb(219, 236, 31);
    overflow: hidden; 
    animation: animate 8s steps(14, end);  
    width: 100%;
    white-space: nowrap; 
  }
  
  /* animation to fill text */
  
  @keyframes animate {
    0%,
    10%{
      width: 0;
    }
    50%,
    100% {
      width: 100%;
    }
  }

/* ------------------- project page styles----------------------------- */

.typed-cursor {
    font-size: 50px;
    color: #c9ec2c;
} 