body{
    background-image: url(https://github.com/vklsaravanan/vklsaravanan.github.io/blob/main/bgStyle/bg1.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
